<h1>Tools</h1>
<p>Welcome to the Tools page!</p>

<ul>
  <% @tools.each do |tool| %>
    <li>
      <h2><%= tool.name %></h2>
      <p><%= tool.description %></p>
      <p><strong>Availability:</strong> <%= tool.availability ? 'Available' : 'Not available' %></p>
      <%= link_to 'View Tool', tool %>
    </li>
  <% end %>
</ul>
