// Specific CSS for your home-page

body {
    font-family: Neucha, sans-serif;
  }

.body-bg {
  background-image: url("tool_connect_header");
  background-size: cover;
  background-position: top;
}

.display-5 {
  font-family: Neucha, sans-serif;
  font-style:normal;
}

  /* CSS */
.button-55 {
  align-self: center;
  background-color: #a18167;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

// .masthead {
//     height: 100vh;
//     min-height: 500px;
//     background-image: url('/Users/patrickbird/code/Piboche/ToolConnect/app/assets/images/tool_connect_header.png');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//   }

// .carousel-item {
//   height: 100vh;
//   min-height: 350px;
//   background: no-repeat center center scroll;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
