// Specific CSS for your home-page

body {
    font-family: Neucha, sans-serif;
  }

.body-bg {
  background-size: cover;
  background-position: top;
}

.display-5 {
  font-family: Neucha, sans-serif;
  font-style:normal;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

// .masthead {
//     height: 100vh;
//     min-height: 500px;
//     background-image: url('/Users/patrickbird/code/Piboche/ToolConnect/app/assets/images/tool_connect_header.png');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//   }

// .carousel-item {
//   height: 100vh;
//   min-height: 350px;
//   background: no-repeat center center scroll;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
