<div class="px-4 my-5 text-center">
  <h1 class="display-5">ToolConnect</h1>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 py-5 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <% if user_signed_in? %>
          <%= link_to "Find tools", tools_path, class:"button-55" %>
        <% else %>
          <%= link_to "Find tools", tools_path, class:"button-55" %>
          <%= link_to "Log in", new_user_session_path, class:"button-55" %>
        <% end %>
      </div>
      <br>
      <br>
      <br>
      <br>
      <p class="lead mb-4 my-5">A marketplace to share tools, but with money</p>
    </div>
  </div>
